.wrapper {
  position: relative;
  z-index: 1;

  padding: 20px 0;
  max-height: 100vh;
  overflow-x: hidden;
  background: var(--Base-900);
  min-height: 100vh;
}
.pattern {
  position: absolute;
  width: 100%;
  max-height: 100vh;
  height: 100%;
  top: 0;
  z-index: -1;
}
.imgContainer {
  background: var(--bg-300);
  position: relative;
  z-index: 1;
  padding-bottom: 60px;
}
.imgContainer::before {
  content: "";
  position: absolute;
  top: auto;
  right: 0;
  bottom: 60px;

  left: 50%;
  width: 115%;
  height: 300px;
  transform: translateX(-50%);
  margin: 0 auto;

  background-color: transparent;
  border-radius: 50%;
  box-shadow: 0px 130px 0px 0px var(--Base-900);
  z-index: 1;
}
.highlight {
  color: var(--Primary-Default);
}
.screen {
  overflow: hidden;
  width: 90%;
  display: block;
  margin: 0 auto;
  max-width: 285px;
  margin: 0 auto;
}
.infoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  padding-top: 0;
  margin-top: auto;
  max-width: 90%;

  margin: 0 auto;
  position: relative;
  z-index: 1;
  margin-top: -20px;
}
.button {
  display: block;

  min-width: 226px;
  margin: 0 auto;
  margin-top: 12px;
}
